<!DOCTYPE HTML>
<html>
	<head>
		<title>hadoc.xyz</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="http://<%= ip %>/assets/css/main.min.css" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<h1><strong><a href="http://<%= ip %>">hadoc</a></strong>.xyz</h1>
			</header>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">
					<header class="major special">
						<h2>Files</h2>
						<p>Download files below</p>
						<h4>Expires <%= timeoutText %></h4>
						<br>
						<h5>Download all files in 'hadoc-files.zip'. If .zip file is not present, reload page.</h5>
						<br>

						<section>
							<ul>
								<% files.forEach(function(file) { %>
									<li><a href="http://<%= file.downloadLink %>"><%= file.name %></a></li>
								<% }); %>
							</ul>
						</section>
					</header>
				</div>
			</section>

	</body>
</html>
